########################################################
# Bayesian_optimization.py argument configuration file #
########################################################

### Workdir Configurations ###
workdir=/export/a08/xzhan138/Auto-tuning/

### Model and Architecture Configurations ###
dataset="ted-zh-en" # "ted-zh-en", "ted-ru-en", "robust19-en-ja", "robust19-ja-en"
modeldir=/export/a10/kduh/p/mt/gridsearch/${dataset}/models/
architecture=trans # rnn, cnn, trans
rnn_cell_type=lstm # lstm, gru

### Objective Metric Configurations ###
metric=dev_bleu # dev_bleu, dev_ppl
best=min # min for ppl, max for BLEU

### Input Embedding arguments ###
embedding=origin # origin, bleu, mds
embedding_distance=heuristic # heuristic, bleudif (required when embedding is mds)

### Bayesian Optimization Configurations ###
sampling_method=exact # origin, approx, exact
replacement= # "--replacement"
acquisition_func="log_ei" # "ei", "log_ei", "lcb", "pi"
model_type="gp" # "gp", "gp_mcmc", "rf", "bohamiann", "dngo"
num_run=150

### Gaussian Process Configurations ###
kernel=heuristic # "constant", "polynomial", "linear", "dotproduct"
				 # "exp", "expsquared", "matern32", "matern52" 
				 # "rationalquadratic","cosine", "expsine2", "heuristic"

### Evaluation Configurations ###
budget=10
dif=0.5 # 0.5 for BLEU, 1 for ppl

### Output Configuration ###
output=${workdir}/bo_output/${dataset}_${architecture}_${rnn_cell_type}_${metric}_${embedding}_${embedding_distance}_${sampling_method}_${replacement}_${acquisition_func}_${model_type}_${kernel}.res