########################################################
# gbssl.py argument configuration file #
########################################################

### Workdir Configurations ###
workdir=/export/a08/xzhan138/Auto-tuning/gbssl

### Model and Architecture Configurations ###
dataset="ted-zh-en" # "ted-zh-en", "ted-ru-en", "robust19-en-ja", "robust19-ja-en"
modeldir=/export/a10/kduh/p/mt/gridsearch/${dataset}/models/
architecture=trans # rnn, cnn, trans
rnn_cell_type=lstm # lstm, gru

### Objective Metric Configurations ###
metric=dev_bleu # dev_bleu, dev_ppl
best=max # max for BLEU, min for ppl

### Graph Configurations ###
model=regression # regression, LP
distance=euclidean # euclidean, dotproduct, cosinesim, constant, heuristic
distance_param=
sparsity=knn #full, knn
k=5

### Running Configurations ###
num_run=150

### Evaluation Configurations ###
budget=10
dif=0.5 # 0.5 for BLEU, 1 for ppl

### Output Configurations ##
output=${workdir}/${model}output/${dataset}_${architecture}_${rnn_cell_type}_${metric}_${distance}_${distance_param}_${sparsity}_${k}
